.floating-whatsapp {
  display: block;
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

.floating-whatsapp a {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  background-color: #25d366;
}

.floating-whatsapp a:hover {
  background-color: #1abf4c;
}

.whatsapp-icon {
  position: absolute;
  width: 30px !important;
  height: 30px !important;
  top: 10px;
  left: 10px;
  color: #ffffff;
}
